<!DOCTYPE html>
<html lang="en" ng-app="truckate">
  <head>
    <meta charset="utf-8"/>
    <title>Welcome</title>

    <link rel="stylesheet" type="text/css" href="/css/libs/foundation.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/common/libs/sha.js"></script>
    <script src="/common/libs/angular.js"></script>
    <script src="/common/truckate.js"></script>
    <script src="/operator/operator.js"></script>
  </head>

  <body>
    <header class="row">
      <h1>Truckate</h1>
    </header>

    <div ng-controller="OperatorController" ng-switch on="authenticated">
      <div class="row" ng-switch-when="false">
        <div class="large-4 small-centered columns">
          <p>Please log in.</p>
          <form name="loginForm" ng-submit="submit()" class="row" ng-controller="LoginController">
            <div class="row">
              <label class="small-5 columns" for="username">username</label>
              <input class="small-7 columns" type="text" name="username" ng-model="username" required />
            </div>
            <div class="row">
              <label class="small-5 columns" for="password">password</label>
              <input class="small-7 columns" type="password" name="password" ng-model="password" required />
            </div>
            <input class="small right button row" type="submit" />
          </form>
        </div>
      </div>
      <div class="row" ng-switch-when="true">
        <div class="large-3 columns">
          <div class="row" unimplemented-ng-controller="TruckSelectionController">
            <strong>Select your truck...</strong>
          </div>
          <div class="row" unimplemented-ng-controller="MenuSelectionController">
            <strong>Edit a menu:</strong>
          </div>
        </div>
        <div class="large-9 columns" ng-controller="MenuEditorController">
          <div class="row">
            <div class="small-8 columns"><strong>Entry Name</strong></div>
            <div class="small-4 columns"><strong>Entry Price</strong></div>
          </div>
          <div class="row" unimplemented-ng-repeat="entry in entries">
            <span class="small-8 columns" ng-model="entry.name" contenteditable required></span>
            <span class="small-2 columns" ng-model="entry.price" contenteditable required></span>
            <input class="small-2 columns" type="checkbox" ng-model="entry.available"></span>
          </div>
          <form class="row" ng-submit="submit()">
            <input class="small-8 columns" type="text" autocomplete="off" ng-model="entryName" />
            <input class="small-2 columns" type="text" autocomplete="off" ng-model="entryPrice" />
            <input class="small button small-2 columns" type="submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

